/* Sabhi elements ke default margin aur padding hata do */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header */
header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Navigation */
nav {
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  color: yellow;
}

/* Hero Section */
.hero {
  background-color: lightblue;
  text-align: center;
  padding: 50px 20px;
}

.hero h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
}

/* Product Section */
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
}

/* Product Card */
.card {
  width: 220px;
  background-color: white;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin-top: 15px;
  font-size: 22px;
}

.card p {
  margin: 10px 0;
  font-size: 18px;
  color: green;
  font-weight: bold;
}

/* Button */
.card button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background-color: crimson;
}

/* Contact Section */
.Contact {
  background-color: white;
  text-align: center;
  padding: 40px 20px;
}

.Contact h2 {
  margin-bottom: 15px;
}

.Contact p {
  margin: 10px 0;
  font-size: 18px;
}

/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
